@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.about {
  &__body { max-width: 62ch; }

  &__body p {
    margin: 0 0 18px;
    font-size: 1.125rem;
    line-height: 1.65;

    &:last-child {
      margin-bottom: 0;
      color: $pencil;
    }
  }
}
