@use "./fonts" as *;
@use "./variables" as *;
@use "./functions" as *;

body {
    color: $color-primary-black;
    background-color: $color-primary-background;
    margin: 0;
    box-sizing: border-box;
}