$font-family-primary: 'Inter', sans-serif;
$font-family-secondary: 'Cat Song', sans-serif;

$max-width-md: 1045px;
$max-width-lg: 1440px;

$bg-main: #EFE9DA;
$card-bg: #F8F8F6;
$text-dark: #141415;
$text-muted: #716678;

$accent-red: #A4231A;
$accent-blue: #88ACCE;
$accent-gold: #D09D6C;