$font-family-primary: 'Inter', sans-serif;
$font-family-secondary: 'Cat Song', sans-serif;

$max-width-md: 1045px;
$max-width-lg: 1440px;

$color-primary-black: #13182C;
$color-primary-white: #FFFFFF;
$color-primary-red: #9C342F;
$color-secondary-navy: #3D46A5;
$color-tertiary-paleshell: #B6C8E0;
$color-accent-yellow: #EEBD60;
$color-primary-background: #F2EBE1;
$color-secondary-background: #F5F5F5;