@import '../../styles/variables.scss';

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: $bg-main;
    border-top: 1px solid $text-dark;

    &__content {
        display: flex;
        gap: 1rem;

        a {
            text-decoration: none;
            color: $text-dark;
        }
    }
}