@import '../../styles/variables.scss';

.stack {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: $card-bg;
    border-bottom: 1px solid $accent-gold;

    &__content {
        display: flex;
        gap: 1rem;

        a {
            text-decoration: none;
            color: $text-dark;
        }
    }
}